@import "variables";
@import "~grommet/scss/grommet-core/index";
@import "~grommet/scss/hpe/_objects.button-hpe";
@import "~grommet/scss/hpe/_objects.anchor-hpe";

.transport-type {
  color: white;
  border-left: 1px solid #111111;
  padding: 15px 40px;
  margin: 0;
  cursor: pointer;

  transition: background 0.8s ease, color 0.8s ease;

  &:hover,
  &:focus {
    background: #e0e0e0;
    color: #333;
  }
}
.transport-type:last-of-type {
  border-right: 1px solid #111111;
}

.menu-link {
  color: #555555 !important;
  text-decoration: none !important;
  font-size: 17px;
  transition: color 0.8s;

  &:hover {
    color: #111111 !important;
  }
}
